@using System.ServiceModel.Configuration
@{
    ViewBag.Title = "Hakkında";
}
<div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1604513247476_88">
    <div class="row sqs-row" id="yui_3_17_2_1_1604513247476_87">
        <div class="col sqs-col-6 span-6" id="yui_3_17_2_1_1604513247476_86">
            <div class="sqs-block image-block sqs-block-image sqs-text-ready" data-aspect-ratio="120.91571279916752" data-block-type="5" id="block-ab75f95ae9d2aebbe58b">
                <div class="sqs-block-content" id="yui_3_17_2_1_1604513247476_85">

                    <div class="
          image-block-outer-wrapper
          layout-caption-below
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
        " data-test="image-block-inline-outer-wrapper" id="yui_3_17_2_1_1604513247476_84">
                        <figure class="
              sqs-block-image-figure
              intrinsic
            " style="max-width:1327.0px;" id="yui_3_17_2_1_1604513247476_83">

                            <div style="padding-bottom: 120.916%; overflow: hidden;" class="
                image-block-wrapper
                has-aspect-ratio
              " data-animation-role="image" id="yui_3_17_2_1_1604513247476_82">
                                
                                    <img src="@Url.Content("~/Content/Images/profile.jpeg")" style="position: relative;" alt="@Url.Content("~/Content/Images/profile.jpeg")"/>
                         
                                <img class="thumb-image loaded" data-src="@Url.Content("~/Content/Images/profile.jpeg")" data-image="@Url.Content("~/Content/Images/profile.jpeg")" data-image-dimensions="1327x2000" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5dea825953ac1c48c1355245" data-type="image" alt="@Url.Content("~/Content/Images/profile.jpeg")">
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div><div class="col sqs-col-5 span-5"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-a2a6ec381c7db3b5f72a"><div class="sqs-block-content"><h2 style="white-space:pre-wrap;"><strong>HOLISTIC INTERIOR DESIGN, WHERE SIMPLICITY MEETS SOUL</strong></h2><p class="" style="white-space:pre-wrap;">“I believe in something special—the connection between a space and your dreams.”</p><p class="" style="white-space:pre-wrap;">Maren Lundehn founded MURRONInteriors because she believes that everyone needs an inspiring space in which to dream. For her, dreams have the power to change lives.</p><p class="" style="white-space:pre-wrap;">Maren’s own dream is to help others by creating those spaces. Previously a midwife in her native Germany, Maren moved to the UK to pursue her passion. There, she earned a Diploma in Interior Architecture and Design from the prestigious The Interior Design School London, and later became a member of the British Institute of Interior Design.</p><p class="" style="white-space:pre-wrap;">For Maren, design is all about people. At the heart of her process are relationships centred on authenticity, conviction and understanding. She draws on the skills learned during her years of midwifery to birth a project and realise its soul. She listens intently to her clients, channeling your vision and stretching your imagination.</p><p class="" style="white-space:pre-wrap;">The spaces Maren creates are rich with simplicity, light and grace. They focus on a connection between design and nature. She thinks outside the box to find unique solutions, and is committed to seeing every project through to completion. She is aligned with the RIBA Plan of Work to ensure every project runs efficiently, with clear milestones and delivery timescales.</p><p class="" style="white-space:pre-wrap;">Maren currently lives in Somerset with her husband, five children and their dog. Her favourite place to hide away is by the sea.</p></div></div></div><div class="col sqs-col-1 span-1"><div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-857e37cc8bc738b36928"><div class="sqs-block-content">&nbsp;</div></div></div>
    </div>
</div>
