@using System.ServiceModel.Configuration
@{
    ViewBag.Title = "Hakkında";
}
<div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1604513247476_88">
    <div class="row sqs-row" id="yui_3_17_2_1_1604513247476_87">
        <div class="col sqs-col-6 span-6" id="yui_3_17_2_1_1604513247476_86">
            <div class="sqs-block image-block sqs-block-image sqs-text-ready" data-aspect-ratio="120.91571279916752" data-block-type="5" id="block-ab75f95ae9d2aebbe58b">
                <div class="sqs-block-content" id="yui_3_17_2_1_1604513247476_85">

                    <div class="
          image-block-outer-wrapper
          layout-caption-below
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
        " data-test="image-block-inline-outer-wrapper" id="yui_3_17_2_1_1604513247476_84">
                        <figure class="
              sqs-block-image-figure
              intrinsic
            " style="max-width:1327.0px;" id="yui_3_17_2_1_1604513247476_83">

                            <div style="padding-bottom: 120.916%; overflow: hidden;" class="
                image-block-wrapper
                has-aspect-ratio
              " data-animation-role="image" id="yui_3_17_2_1_1604513247476_82">
                                
                                    <img src="@Url.Content("~/Content/Images/profile.jpeg")" style="position: relative;" alt="@Url.Content("~/Content/Images/profile.jpeg")"/>
                         
                                <img class="thumb-image loaded" data-src="@Url.Content("~/Content/Images/profile.jpeg")" data-image="@Url.Content("~/Content/Images/profile.jpeg")" data-image-dimensions="1327x2000" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5dea825953ac1c48c1355245" data-type="image" alt="@Url.Content("~/Content/Images/profile.jpeg")">
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div><div class="col sqs-col-5 span-5"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-a2a6ec381c7db3b5f72a">
            <div class="sqs-block-content">
                <h2 style="white-space: pre-wrap;"><strong>HOLISTIC INTERIOR DESIGN, WHERE SIMPLICITY MEETS SOUL</strong></h2>
                <p class="" style="white-space: pre-wrap;">MAHAL Mimarlık, 2013 senesinde İstanbul, Kadıköy’de kurulmuştur. 2016 senesinde A. Gülçin Ural idaresinde, mimari altyapısını güçlendirerek MAHAL/Ural Mimarlık ismi ile faaliyet göstermeye devam etmektedir</p>
                <p class="" style="white-space: pre-wrap;">MAHAL bünyesinde; mimarlık, iç mimarlık, restorasyon, ahşap-kütük ev tasarımlarınız projelendirilmekte ve uygulaması yapılmaktadır. Mekânlarınızı yaratırken hayallerinizi odak noktamıza alıyor, tasarımlarımızda yenilikçi, esnek ve bütüncül bir anlayış benimsiyoruz. Disiplinler arası alanda kabul görmüş çözüm ortakları ile çalışılarak tasarımlarımızı hayata geçiriyor ve detay-bütün ilişkisini titizlikle çözümlüyoruz. Çözüm ortağınız olmamız için bizimle iletişime geçebilirsiniz.</p>
                <p class="" style="white-space: pre-wrap;">A. Gülçin Ural, 2010 yılında Haliç Üniversitesi, Mimarlık Bölümü’nden mezun olmuştur. Çeşitli mimarlık ofislerinde çalıştıktan sonra 2013 senesinde iş hayatına katılan Mahal Mimarlık firmasında resmi kurucu olarak çalışma hayatına devam etmiş ve hala devam etmektedir. </p>
                <p class="" style="white-space: pre-wrap;">2017 yılında Mimar Sinan Güzel Sanatlar Üniversitesi, İç Mimarlık bölümünde yüksek lisans eğitimini tamamlamıştır. 2018 yılında yine Mimar Sinan Güzel Sanatlar Üniversitesi, İç Mimarlık programında doktora eğitimine başlamış ve hala devam etmektedir. </p>
                <p class="" style="white-space: pre-wrap;">MAHAL ile sektörde çalışmalarına devam ederken, üniversitede öğretim görevlisi olarak öğrencilerle bir araya gelmektedir. Eğitim hayatının uzantısı olarak mimari kuramlar hakkında yayınlar üretmeye devam etmektedir. 
                </p></div>
        </div></div><div class="col sqs-col-1 span-1">

            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-857e37cc8bc738b36928">
                <div class="sqs-block-content">&nbsp;</div></div>
        </div>
    </div>
</div>
