
@{
    ViewBag.Title = "MimariRuhsat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col sqs-col-12 span-12">
    <div class="top-menu-fixed">
        <div id="topNav" data-content-field="navigation">
            <nav class="main-nav dropdown-click">
                <ul id="rowIcmimariNavigation" class="nav nav-tabs">
                    <li class="page-collection nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-link projects_buttons" data-menu-sec="kamp" onclick="projeTuruSec(this)">KAMP ALANI</a>
                    </li>
                    <li class="page-collection folder-collection folder nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-link projects_buttons" data-menu-sec="konut" onclick="projeTuruSec(this)">KONUT</a>
                    </li>
                    <li class="page-collection nav-item">
                        <a class="nav-link dropdown-toggle nav-link projects_buttons" data-menu-sec="dukkan" onclick="projeTuruSec(this)">DÜKKAN</a>
                    </li>
                    <li class="page-collection nav-item">
                        <a class="nav-link dropdown-toggle nav-link projects_buttons" data-menu-sec="tesis" onclick="projeTuruSec(this)">SOSYAL TESİS</a>
                    </li>
                    <li class="page-collection nav-item">
                        <a class="nav-link dropdown-toggle projects_buttons" data-menu-sec="otel" onclick="projeTuruSec(this)"> OTEL</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col sqs-col-12 projects_block">
            <a class="projects_buttons_menu" data-project-name="kamp_ardesen" data-menu="kamp" style="display:none">Ardeşen Kamp Alanı</a>
            <a class="projects_buttons_menu" data-project-name="bolu_konut" data-menu="konut" style="display:none">Bolu Kütük Konut</a>
            <a class="projects_buttons_menu" data-project-name="iznik_konut" data-menu="konut" style="display:none">İznik Konut</a>
            <a class="projects_buttons_menu" data-project-name="inegol_konut" data-menu="konut" style="display:none">İnegöl Konut</a>
            <a class="projects_buttons_menu" data-project-name="sile_dukkan" data-menu="dukkan" style="display:none">Şile Dükkan</a>
            <a class="projects_buttons_menu" data-project-name="egil_sosyal_tesis" data-menu="tesis" style="display:none">Eğil Sosyal Tesis</a>
        </div>
    </div>
    <!-- Avcılar Apart Txt-->
    <div data-project="kamp_ardesen">
        <div class="row sqs-row">
            <div class="col sqs-col-12">
                <div class="col sqs-col-4">
                    <h2 style="white-space: pre-wrap;">PROJE: </h2>
                    <h2 style="white-space: pre-wrap;">LOKASYON: </h2>
                    <h2 style="white-space: pre-wrap;">YIL: </h2>
                </div>
                <div class="col sqs-col-8">
                    <h2 style="white-space: pre-wrap;"><strong>ARDEŞEN KAMP ALANI  </strong></h2>
                    <h2 style="white-space: pre-wrap;"><strong>Ardeşen / Rize /TÜRKİYE</strong></h2>
                    <h2 style="white-space: pre-wrap;"><strong>2014</strong></h2>
                </div>
            </div>
        </div>

        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
            <div class="sqs-block-content">&nbsp;</div>
        </div>

        <!-- Ardeşen Main İmage-->
        <div class="sqs-block image-block sqs-block-image" data-block-type="5">
            <div class="sqs-block-content">
                <div class=" image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none" data-test="image-block-inline-outer-wrapper">
                    <figure class=" sqs-block-image-figure intrinsic " style="max-width: 2000.0px;">
                        <div style="padding-bottom: 56.25%;" class="  image-block-wrapper has-aspect-ratio " data-animation-role="image">
                            <noscript><img src="@Url.Content("~/Content/Images/ahşap kütük yapı/Ardeşen Kamp Alanı/1.jpg")" alt="" /></noscript>
                            <img class="thumb-image" src="@Url.Content("~/Content/Images/ahşap kütük yapı/Ardeşen Kamp Alanı/1.jpg")" style="left: 0%; top: -0.0151699%; width: 100%; height: 100.03%; position: absolute" data-image-dimensions="2000x1125" data-image-focal-point="0.5,0.5" alt="MAREN+FINAL+EDIT-7.jpg" data-load="false" data-image-id="5dc992d016757a6ba7a0109a" data-type="image" />
                        </div>
                    </figure>
                </div>
                <div class="sqs-block html-block mt-5 sqs-block-html" data-block-type="2">
                    <div class="col sqs-col-7 span-7">
                        <p class="" style="white-space: pre-wrap;">Ardeşen Kamp Alanı, Ardeşen’de doğa ile iç içe tasarlanmış kamp alanı projesidir. Yüksek kot farkı bulunan araziye, hem yerleşim planı hem de bungalovlar yerleştirilmiştir. Doğa ile bağı kopmayacak şekilde tasarlanan bungalovların ortak alanı olarak bir de restoran binası yapılmıştır.</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Ardeşen Image Gallery -->
        <div class="col sqs-row">
            <div class="col-md-12 mt-5">
                <div class="mdb-lightbox">
                    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
                        <figure class="sqs-col-5 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/Ardeşen Kamp Alanı/2.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                        <figure class="sqs-col-5 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/Ardeşen Kamp Alanı/3.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                        <figure class="sqs-col-5 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/Ardeşen Kamp Alanı/4.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                        <figure class="sqs-col-5 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/Ardeşen Kamp Alanı/5.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
        <div class="sqs-block-content">&nbsp;</div>
    </div>
    <!-- Bolu Konut -->
    <div data-project="bolu_konut">
        <div class="row sqs-row">
            <div class="col sqs-col-12">
                <div class="col sqs-col-4">
                    <h2 style="white-space: pre-wrap;">PROJE: </h2>
                    <h2 style="white-space: pre-wrap;">LOKASYON: </h2>
                    <h2 style="white-space: pre-wrap;">YIL: </h2>
                </div>
                <div class="col sqs-col-8">
                    <h2 style="white-space: pre-wrap;"><strong>BOLU KÜTÜK EV PROJESİ  </strong></h2>
                    <h2 style="white-space: pre-wrap;"><strong>LOKASYON: Bolu /TÜRKİYE</strong></h2>
                    <h2 style="white-space: pre-wrap;"><strong>2015</strong></h2>
                </div>
            </div>
        </div>
        <!--Bolu Main İmage-->
        <div class="sqs-block image-block sqs-block-image" data-block-type="5">
            <div class="sqs-block-content">
                <div class=" image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none" data-test="image-block-inline-outer-wrapper">
                    <figure class=" sqs-block-image-figure intrinsic " style="max-width: 2000.0px;">
                        <div style="padding-bottom: 56.25%;" class="image-block-wrapper has-aspect-ratio " data-animation-role="image">
                            <noscript><img src="@Url.Content("~/Content/Images/ahşap kütük yapı/Bolu Kütük Konut/1.jpg")" alt="" /></noscript>
                            <img class="thumb-image" src="@Url.Content("~/Content/Images/ahşap kütük yapı/Bolu Kütük Konut/1.jpg")" style="left: 0%; top: -0.0151699%; width: 100%; height: 100.03%; position: absolute" data-image-dimensions="2000x1125" data-image-focal-point="0.5,0.5" alt="MAREN+FINAL+EDIT-7.jpg" data-load="false" data-image-id="5dc992d016757a6ba7a0109a" data-type="image" />
                        </div>
                    </figure>
                </div>
                <div class="sqs-block html-block mt-5 sqs-block-html" data-block-type="2">
                    <div class="col sqs-col-7 span-7">
                        <p class="" style="white-space: pre-wrap;"> Bolu’da bulunan araziye kütük yığma yapı olarak tasarlanmış konut projesidir. 3 kişilik bir ailenin talebi üzerine, yazlık ev olarak tasarlanan yapının projelendirmesi ve uygulaması tarafımıza aittir.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Bolu Image Gallery -->
        <div class="col sqs-row">
            <div class="col-md-12 mt-5">
                <div class="mdb-lightbox">

                    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
                        <figure class="sqs-col-5 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/Bolu Kütük Konut/3.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                        <figure class="sqs-col-5 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/Bolu Kütük Konut/5.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>

                        <figure class="sqs-col-12 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/Bolu Kütük Konut/6.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                    </div>

                </div>
            </div>
        </div>
        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
            <div class="sqs-block-content">&nbsp;</div>
        </div>
    </div>

    @*Eğil Sosyal Tesis*@
    <div data-project="egil_sosyal_tesis">
        <!-- E.T. Evi Main Txt-->
        <div class="row sqs-row">
            <div class="col sqs-col-12">
                <div class="col sqs-col-4">
                    <h2 style="white-space: pre-wrap;">PROJE: </h2>
                    <h2 style="white-space: pre-wrap;">LOKASYON: </h2>
                    <h2 style="white-space: pre-wrap;">YIL: </h2>
                </div>
                <div class="col sqs-col-8">
                    <h2 style="white-space: pre-wrap;"><strong>EĞİL SOSYAL TESİSİ </strong></h2>
                    <h2 style="white-space: pre-wrap;"><strong>Eğil/ Diyarbakır /TÜRKİYE</strong></h2>
                    <h2 style="white-space: pre-wrap;"><strong>2013</strong></h2>
                </div>
            </div>
        </div>
        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
            <div class="sqs-block-content">&nbsp;</div>
        </div>
        <!-- Eğil Main İmage-->
        <div class="sqs-block image-block sqs-block-image" data-block-type="5">
            <div class="sqs-block-content">
                <div class=" image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none" data-test="image-block-inline-outer-wrapper">
                    <figure class=" sqs-block-image-figure intrinsic " style="max-width: 2000.0px;">
                        <div style="padding-bottom: 56.25%;" class="  image-block-wrapper has-aspect-ratio " data-animation-role="image">
                            <noscript><img src="@Url.Content("~/Content/Images/ahşap kütük yapı/Eğil Sosyal Tesis/1.jpg")" alt="" /></noscript>
                            <img class="thumb-image" src="@Url.Content("~/Content/Images/ahşap kütük yapı/Eğil Sosyal Tesis/1.jpg")" style="left: 0%; top: -0.0151699%; width: 100%; height: 100.03%; position: absolute" data-image-dimensions="2000x1125" data-image-focal-point="0.5,0.5" alt="MAREN+FINAL+EDIT-7.jpg" data-load="false" data-image-id="5dc992d016757a6ba7a0109a" data-type="image" />
                        </div>
                    </figure>
                </div>
                <div class="sqs-block html-block mt-5 sqs-block-html" data-block-type="2">
                    <div class="col sqs-col-7 span-7">
                        <p class="" style="white-space: pre-wrap;">Diyarbakır, Eğil’de kaymakamlık talebi üzerine yapılmış sosyal tesis projesidir. Kafe, restoran gibi ortak alanların yanında turistler için bungalovlarda projelendirilmiş ve uygulanmıştır.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Eğil Image Gallery -->
        <div class="col sqs-row">
            <div class="col-md-12 mt-5">
                <div class="mdb-lightbox">
                    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
                        <figure class="sqs-col-12 span-12" style="padding-right: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/Eğil Sosyal Tesis/2.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                        <figure class="sqs-col-5 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/Eğil Sosyal Tesis/3.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                        <figure class="sqs-col-5 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/Eğil Sosyal Tesis/4.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                        <figure class="sqs-col-12 span-12" style="padding-right: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/Eğil Sosyal Tesis/5.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
            <div class="sqs-block-content">&nbsp;</div>
        </div>
    </div>
    <!-- İnegöl Konut Txt-->
    <div data-project="inegol_konut">
        <!-- İnegöl Konut Txt-->
        <div class="row sqs-row">
            <div class="col sqs-col-12">
                <div class="col sqs-col-4">
                    <h2 style="white-space: pre-wrap;">PROJE: </h2>
                    <h2 style="white-space: pre-wrap;">LOKASYON: </h2>
                    <h2 style="white-space: pre-wrap;">YIL: </h2>
                </div>
                <div class="col sqs-col-8">
                    <h2 style="white-space: pre-wrap;"><strong>İNEGÖL KONUT PROJESİ  </strong></h2>
                    <h2 style="white-space: pre-wrap;"><strong>LOKASYON: İnegöl/ Bursa/ TÜRKİYE</strong></h2>
                    <h2 style="white-space: pre-wrap;"><strong>2016</strong></h2>
                </div>
            </div>
        </div>
        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
            <div class="sqs-block-content">&nbsp;</div>
        </div>
        <!-- İnegöl Konut İmage-->
        <div class="sqs-block image-block sqs-block-image" data-block-type="5">
            <div class="sqs-block-content">
                <div class=" image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none" data-test="image-block-inline-outer-wrapper">
                    <figure class=" sqs-block-image-figure intrinsic " style="max-width: 2000.0px;">
                        <div style="padding-bottom: 56.25%;" class="  image-block-wrapper has-aspect-ratio " data-animation-role="image">
                            <noscript><img src="@Url.Content("~/Content/Images/ahşap kütük yapı/İnegöl Konut/1.jpg")" alt="" /></noscript>
                            <img class="thumb-image" src="@Url.Content("~/Content/Images/ahşap kütük yapı/İnegöl Konut/1.jpg")" style="left: 0%; top: -0.0151699%; width: 100%; height: 100.03%; position: absolute" data-image-dimensions="2000x1125" data-image-focal-point="0.5,0.5" alt="MAREN+FINAL+EDIT-7.jpg" data-load="false" data-image-id="5dc992d016757a6ba7a0109a" data-type="image" />
                        </div>
                    </figure>
                </div>
                <div class="sqs-block html-block mt-5 sqs-block-html" data-block-type="2">
                    <div class="col sqs-col-7 span-7">
                        <p class="" style="white-space: pre-wrap;">İnegöl, Bursa’da göl manzaralı ve yüksek kotta konumlanan araziye yapılan konut projesidir. Proje ahşap yığma yapı olarak tasarlanmıştır. Proje ve uygulaması tarafımıza aittir. </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- İnegöl Konut Image Gallery -->
        <div class="col sqs-row">
            <div class="col-md-12 mt-5">
                <div id="mdb-lightbox-ui"></div>

                <div class="mdb-lightbox">

                    <div class="sqs-block" data-block-type="21">
                        <figure class="sqs-col-5 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/İnegöl Konut/2.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                        <figure class="sqs-col-5 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/İnegöl Konut/3.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>

                        <figure class="sqs-col-12 span-12" style="padding-right: 6%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/İnegöl Konut/4.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                        <figure class="sqs-col-5 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/İnegöl Konut/5.jpg")" style="padding: 15px" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                        <figure class="sqs-col-5 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/İnegöl Konut/6.jpg")" style="padding: 15px" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                    </div>

                </div>
            </div>
        </div>

        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
            <div class="sqs-block-content">&nbsp;</div>
        </div>
    </div>
    <!-- İznik Konut Apartman-->
    <div data-project="iznik_konut">
        <!-- İznik Konut Main Txt-->
        <div class="row sqs-row">
            <div class="col sqs-col-12">
                <div class="col sqs-col-4">
                    <h2 style="white-space: pre-wrap;">PROJE: </h2>
                    <h2 style="white-space: pre-wrap;">LOKASYON: </h2>
                    <h2 style="white-space: pre-wrap;">YIL: </h2>
                </div>
                <div class="col sqs-col-8">
                    <h2 style="white-space: pre-wrap;"><strong>İZNİK KONUT PROJESİ  </strong></h2>
                    <h2 style="white-space: pre-wrap;"><strong>LOKASYON: İznik/ Bursa/ TÜRKİYE</strong></h2>
                    <h2 style="white-space: pre-wrap;"><strong>2017</strong></h2>
                </div>
            </div>
        </div>
        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
            <div class="sqs-block-content">&nbsp;</div>
        </div>
        <!-- İznik Konut Main İmage-->
        <div class="sqs-block image-block sqs-block-image" data-block-type="5">
            <div class="sqs-block-content">
                <div class=" image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none" data-test="image-block-inline-outer-wrapper">
                    <figure class=" sqs-block-image-figure intrinsic " style="max-width: 2000.0px;">
                        <div style="padding-bottom: 56.25%;" class="  image-block-wrapper has-aspect-ratio " data-animation-role="image">
                            <noscript><img src="@Url.Content("~/Content/Images/ahşap kütük yapı/İznik Konut/1.jpeg")" alt="" /></noscript>
                            <img class="thumb-image" src="@Url.Content("~/Content/Images/ahşap kütük yapı/İznik Konut/1.jpeg")" style="left: 0%; top: -0.0151699%; width: 100%; height: 100.03%; position: absolute" data-image-dimensions="2000x1125" data-image-focal-point="0.5,0.5" alt="MAREN+FINAL+EDIT-7.jpg" data-load="false" data-image-id="5dc992d016757a6ba7a0109a" data-type="image" />
                        </div>
                    </figure>
                </div>
                <div class="sqs-block html-block mt-5 sqs-block-html" data-block-type="2">
                    <div class="col sqs-col-7 span-7">
                        <p class="" style="white-space: pre-wrap;">İznik, Bursa’da bulunan araziye yapılan konut projesidir. Yurtdışında yaşayan mal sahibinin yaz aylarında kullanmak üzere yaptırdığı proje ahşap yığma yapı olarak tasarlanmıştır. Proje ve uygulaması tarafımıza aittir.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--  Image Gallery -->
        <div class="col sqs-row">
            <div class="col-md-12 mt-5">
                <div id="mdb-lightbox-ui"></div>

                <div class="mdb-lightbox">

                    <div class="sqs-block" data-block-type="21">
                        <figure class="sqs-col-5 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/İznik Konut/2.jpeg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                        <figure class="sqs-col-5 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/İznik Konut/3.jpeg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                        <figure class="sqs-col-5 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/İznik Konut/4.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                        <figure class="sqs-col-5 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/İznik Konut/5.jpg")" style="padding: 15px" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                        <figure class="sqs-col-5 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/İznik Konut/6.jpeg")" style="padding: 15px" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                        <figure class="sqs-col-5 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/İznik Konut/7.jpg")" style="padding: 15px" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                        <figure class="sqs-col-12 span-12" style="padding-right: 6%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/İznik Konut/8.jpg")" style="padding: 15px" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                    </div>

                </div>
            </div>
        </div>
        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
            <div class="sqs-block-content">&nbsp;</div>
        </div>
    </div>
    <!--Şile Dükkan-->
    <div data-project="sile_dukkan">
        <!-- Şile Dükkan  Main Txt-->
        <div class="row sqs-row">
            <div class="col sqs-col-12">
                <div class="col sqs-col-4">
                    <h2 style="white-space: pre-wrap;">PROJE: </h2>
                    <h2 style="white-space: pre-wrap;">LOKASYON: </h2>
                    <h2 style="white-space: pre-wrap;">YIL: </h2>
                </div>
                <div class="col sqs-col-8">
                    <h2 style="white-space: pre-wrap;"><strong>ŞİLE KONUT PROJESİ </strong></h2>
                    <h2 style="white-space: pre-wrap;"><strong>LOKASYON: Şile/ İstanbul/ TÜRKİYE</strong></h2>
                    <h2 style="white-space: pre-wrap;"><strong>2019</strong></h2>
                </div>
            </div>
        </div>
        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
            <div class="sqs-block-content">&nbsp;</div>
        </div>
        <!-- Şile Dükkan Main İmage-->
        <div class="sqs-block image-block sqs-block-image" data-block-type="5">
            <div class="sqs-block-content">
                <div class=" image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none" data-test="image-block-inline-outer-wrapper">
                    <figure class=" sqs-block-image-figure intrinsic " style="max-width: 2000.0px;">
                        <div style="padding-bottom: 56.25%;" class="  image-block-wrapper has-aspect-ratio " data-animation-role="image">
                            <noscript><img src="@Url.Content("~/Content/Images/ahşap kütük yapı/Şile Dükkan/1.jpg")" alt="" /></noscript>
                            <img class="thumb-image" src="@Url.Content("~/Content/Images/ahşap kütük yapı/Şile Dükkan/1.jpg")" style="left: 0%; top: -0.0151699%; width: 100%; height: 100.03%; position: absolute" data-image-dimensions="2000x1125" data-image-focal-point="0.5,0.5" alt="MAREN+FINAL+EDIT-7.jpg" data-load="false" data-image-id="5dc992d016757a6ba7a0109a" data-type="image" />
                        </div>
                    </figure>
                </div>
                <div class="sqs-block html-block mt-5 sqs-block-html" data-block-type="2">
                    <div class="col sqs-col-7 span-7">
                        <p class="" style="white-space: pre-wrap;"> Şile, İstanbul’da bulunan dükkan projesidir. 1+0 olarak tasarlanan proje ahşap yığma yapıdır. Proje ve uygulaması tarafımıza aittir.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Şile Dükkan Image Gallery -->
        <div class="col sqs-row">
            <div class="col-md-12 mt-5">
                <div class="mdb-lightbox">

                    <div class="sqs-block" data-block-type="21">
                        <figure class="sqs-col-5 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/Şile Dükkan/2.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                        <figure class="sqs-col-5 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/Şile Dükkan/3.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                        <figure class="sqs-col-12 mx-4 span-5" style="padding: 2%">
                            <img alt="picture" src="@Url.Content("~/Content/Images/ahşap kütük yapı/Şile Dükkan/4.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                        </figure>
                    </div>

                </div>
            </div>
        </div>
        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
            <div class="sqs-block-content">&nbsp;</div>
        </div>
    </div>

</div>
<script>
    $(".projects_block > a").on("click",
        function () {
            var projectName = $(this).data("project-name");

            var allProjects = $('[data-project]');

            for (var i = 0; i < allProjects.length; i++) {
                var element = allProjects[i];
                $(element).hide("slow");
            }
            $("*").find("[data-project ='" + projectName + "']").show("slow");
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        });
</script>


