@{
    ViewBag.Title = "IcMimari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .gallery {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-width: 33%;
        -moz-column-width: 33%;
        column-width: 33%;
    }

        .gallery .pics {
            -webkit-transition: all 350ms ease;
            transition: all 350ms ease;
        }

        .gallery .animation {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }

    figure.sqs-col-4.span-4 img {
        padding: 10px;
    }

</style>
<div class="col sqs-col-12 span-12">
    <!-- The Modal -->
    @*<img id="myImg" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/3a.jpg")" alt="Snow" style="width:100%;max-width:300px">*@
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
    <!-- Main İmage-->
    <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1561135439698_8617">
        <div class="sqs-block-content">
            <div class=" image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none"
                 data-test="image-block-inline-outer-wrapper">
                <figure class=" sqs-block-image-figure  intrinsic "
                        style="max-width: 2000.0px;">
                    <div style="padding-bottom: 56.25%;"
                         class="  image-block-wrapper has-aspect-ratio "
                         data-animation-role="image">
                        <noscript><img src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/3a.jpg")" alt="" /></noscript>
                        <img class="thumb-image" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/3a.jpg")" style=" left: 0%; top: -0.0151699%; width: 100%; height: 100.03%; position: absolute" data-image-dimensions="2000x1125" data-image-focal-point="0.5,0.5" alt="MAREN+FINAL+EDIT-7.jpg" data-load="false" data-image-id="5dc992d016757a6ba7a0109a" data-type="image" />
                    </div>
                </figure>
            </div>
        </div>
    </div>
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1571988858733_19223">
        <div class="sqs-block-content">&nbsp;</div>
    </div>
    <!-- Main Txt-->
    <div class="row sqs-row">
        <div class="col sqs-col-4 span-4">
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1571932480061_177971">
                <div class="sqs-block-content">
                    <h2 style="white-space: pre-wrap;">PROJE: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>A.U. EVİ </strong></h2>
                    <h2 style="white-space: pre-wrap;">LOKASYON: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>Kemerburgaz / İstanbul /TÜRKİYE</strong></h2>
                </div>
            </div>
        </div>
        <div class="col sqs-col-7 span-7">
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1571932480061_125616">
                <div class="sqs-block-content">
                    <p class="" style="white-space: pre-wrap;">A.U. EVİ, Kemerburgaz’ da tasarlanmış 1+1 konut projesidir.</p>
                    <p class="" style="white-space: pre-wrap;">Sıcak ve aydınlık bir mekân yaratmaya odaklanarak tasarlanmıştır. Kemerburgaz’ın tarihi dokusu ile uyumlu bir iç mekân yaratılmak istenmiş, malzeme seçimleri buna göre yapılmıştır.</p>
                </div>
            </div>
        </div>
        <div class="col sqs-col-1 span-1">
            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1573484759496_19620">
                <div class="sqs-block-content">&nbsp;</div>
            </div>
        </div>
    </div>

    <!-- Image Gallery -->
    <div class="row sqs-row">

        <div class="col-md-12">
            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" id="myImg" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/1.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>
                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/olan1.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/olan2.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/olan4.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">

                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/olan5.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">

                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/6.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>
            </div>

        </div>
    </div>

    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1571932480061_180440">

        <div class="sqs-block-content">&nbsp;</div>
    </div>
    <div class="row sqs-row">

        <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1561125933495_48784">
            <div class="sqs-block-content">
                <div class=" image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none"
                     data-test="image-block-inline-outer-wrapper">


                    <figure class="sqs-block-image-figure intrinsic "
                            style="max-width: 1333.0px;">
                        <div style="padding-bottom: 150.0375213623047%;" class="image-block-wrapper has-aspect-ratio "
                             data-animation-role="image">
                            <img class="thumb-image" style="left: 0%; top: -0.0151699%; width: 100%; height: 100.03%; position: absolute" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/1.jpg")" data-image-dimensions="1333x2000" data-image-focal-point="0.5,0.5" alt="" data-load="false" data-image-id="5db1c474d39a9b2c982c4950" data-type="image" />
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1571929909414_29713">
        <div class="sqs-block-content">
            <div class="
          image-block-outer-wrapper
          layout-caption-below
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
        "
                 data-test="image-block-inline-outer-wrapper">
                <figure class="
              sqs-block-image-figure
              intrinsic
            "
                        style="max-width: 2000.0px;">
                    <div style="padding-bottom: 66.64999389648438%;"
                         class="
                image-block-wrapper
                has-aspect-ratio
              "
                         data-animation-role="image">
                        <noscript><img src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930180798-YVO2PEYU8AIL3F83QIVC/ke17ZwdGBToddI8pDm48kKAwwdAfKsTlKsCcElEApLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegTYNQkRo-Jk4EWsyBNhwKrKLo5CceA1-Tdpfgyxoog5ck0MD3_q0rY3jFJjjoLbQ/MAREN+FINAL+EDIT-11.jpg" alt="MAREN FINAL EDIT-11.jpg" /></noscript><img class="thumb-image" data-src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930180798-YVO2PEYU8AIL3F83QIVC/ke17ZwdGBToddI8pDm48kKAwwdAfKsTlKsCcElEApLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegTYNQkRo-Jk4EWsyBNhwKrKLo5CceA1-Tdpfgyxoog5ck0MD3_q0rY3jFJjjoLbQ/MAREN+FINAL+EDIT-11.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930180798-YVO2PEYU8AIL3F83QIVC/ke17ZwdGBToddI8pDm48kKAwwdAfKsTlKsCcElEApLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegTYNQkRo-Jk4EWsyBNhwKrKLo5CceA1-Tdpfgyxoog5ck0MD3_q0rY3jFJjjoLbQ/MAREN+FINAL+EDIT-11.jpg" data-image-dimensions="2000x1333" data-image-focal-point="0.5,0.5" alt="MAREN FINAL EDIT-11.jpg" data-load="false" data-image-id="5db1c0419a480124d84fd42a" data-type="image" />
                    </div>
                </figure>
            </div>
        </div>
    </div>
    <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1571929909414_53477">
        <div class="sqs-block-content">
            <div class="
          image-block-outer-wrapper
          layout-caption-below
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
        "
                 data-test="image-block-inline-outer-wrapper">
                <figure class="
              sqs-block-image-figure
              intrinsic
            "
                        style="max-width: 2000.0px;">
                    <div style="padding-bottom: 66.64999389648438%;"
                         class="
                image-block-wrapper
                has-aspect-ratio
              "
                         data-animation-role="image">
                        <noscript><img src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930295073-AE94BTLMU6X827D8F46L/ke17ZwdGBToddI8pDm48kKAwwdAfKsTlKsCcElEApLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegTYNQkRo-Jk4EWsyBNhwKrKLo5CceA1-Tdpfgyxoog5ck0MD3_q0rY3jFJjjoLbQ/MAREN+FINAL+EDIT-21.jpg" alt="MAREN FINAL EDIT-21.jpg" /></noscript><img class="thumb-image" data-src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930295073-AE94BTLMU6X827D8F46L/ke17ZwdGBToddI8pDm48kKAwwdAfKsTlKsCcElEApLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegTYNQkRo-Jk4EWsyBNhwKrKLo5CceA1-Tdpfgyxoog5ck0MD3_q0rY3jFJjjoLbQ/MAREN+FINAL+EDIT-21.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930295073-AE94BTLMU6X827D8F46L/ke17ZwdGBToddI8pDm48kKAwwdAfKsTlKsCcElEApLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegTYNQkRo-Jk4EWsyBNhwKrKLo5CceA1-Tdpfgyxoog5ck0MD3_q0rY3jFJjjoLbQ/MAREN+FINAL+EDIT-21.jpg" data-image-dimensions="2000x1333" data-image-focal-point="0.5,0.5" alt="MAREN FINAL EDIT-21.jpg" data-load="false" data-image-id="5db1c0b1d39a9b2c982bf551" data-type="image" />
                    </div>
                </figure>
            </div>
        </div>
    </div>
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1575646649685_37578">
        <div class="sqs-block-content">&nbsp;</div>
    </div>
    <div class="row sqs-row">
        <div class="col sqs-col-1 span-1">
            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1575646649685_88096">
                <div class="sqs-block-content">&nbsp;</div>
            </div>
        </div>
        <div class="col sqs-col-10 span-10">
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1575646649685_39450">
                <div class="sqs-block-content">
                    <h2 style="text-align: center; white-space: pre-wrap;">“DANCE BENEATH THE STARS AS YOU DRINK IN THE NIGHT</h2>
                    <h2 style="text-align: center; white-space: pre-wrap;"> LET THE THUNDER OVERTAKE YOU AS LIGHTNING FILLS THE SKY. </h2>
                    <h2 style="text-align: center; white-space: pre-wrap;">FEEL THE FORCE OF NATURE PENETRATE YOUR SKIN, </h2>
                    <h2 style="text-align: center; white-space: pre-wrap;">SPIN WITH THE WORLD AS THE MAGIC SINKS IN.”</h2>
                    <p class="" data-rte-preserve-empty="true" style="white-space: pre-wrap;"></p>
                    <h3 style="text-align: center; white-space: pre-wrap;"><strong>CHRISTY ANN MARTINE</strong></h3>
                </div>
            </div>
        </div>
        <div class="col sqs-col-1 span-1">
            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1575646649685_84505">
                <div class="sqs-block-content">&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1575646649685_43295">
        <div class="sqs-block-content">&nbsp;</div>
    </div>
    <div class="row sqs-row">
        <div class="col sqs-col-6 span-6">
            <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1571929909414_66023">
                <div class="sqs-block-content">
                    <div class="
          image-block-outer-wrapper
          layout-caption-below
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
        "
                         data-test="image-block-inline-outer-wrapper">
                        <figure class="
              sqs-block-image-figure
              intrinsic
            "
                                style="max-width: 1333.0px;">
                            <div style="padding-bottom: 150.0375213623047%;"
                                 class="
                image-block-wrapper
                has-aspect-ratio
              "
                                 data-animation-role="image">
                                <noscript><img src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930912304-VXYYP4LY6J2E2GOH2WF1/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-28.jpg" alt="MAREN FINAL EDIT-28.jpg" /></noscript><img class="thumb-image" data-src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930912304-VXYYP4LY6J2E2GOH2WF1/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-28.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930912304-VXYYP4LY6J2E2GOH2WF1/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-28.jpg" data-image-dimensions="1333x2000" data-image-focal-point="0.5,0.5" alt="MAREN FINAL EDIT-28.jpg" data-load="false" data-image-id="5db1c31a5b06975d7b11f554" data-type="image" />
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="col sqs-col-6 span-6">
            <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1571929909414_67825">
                <div class="sqs-block-content">
                    <div class="
          image-block-outer-wrapper
          layout-caption-below
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
        "
                         data-test="image-block-inline-outer-wrapper">
                        <figure class="
              sqs-block-image-figure
              intrinsic
            "
                                style="max-width: 1333.0px;">
                            <div style="padding-bottom: 150.0375213623047%;"
                                 class="
                image-block-wrapper
                has-aspect-ratio
              "
                                 data-animation-role="image">
                                <noscript><img src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930544302-OSTK8FL6L0OFRL6LRB2B/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-33.jpg" alt="MAREN FINAL EDIT-33.jpg" /></noscript><img class="thumb-image" data-src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930544302-OSTK8FL6L0OFRL6LRB2B/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-33.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930544302-OSTK8FL6L0OFRL6LRB2B/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-33.jpg" data-image-dimensions="1333x2000" data-image-focal-point="0.5,0.5" alt="MAREN FINAL EDIT-33.jpg" data-load="false" data-image-id="5db1c1ac3473a9648e2f4a00" data-type="image" />
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1571929909414_91101">
        <div class="sqs-block-content">
            <div class="
          image-block-outer-wrapper
          layout-caption-below
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
        "
                 data-test="image-block-inline-outer-wrapper">
                <figure class="
              sqs-block-image-figure
              intrinsic
            "
                        style="max-width: 2000.0px;">
                    <div style="padding-bottom: 63.55000305175781%;"
                         class="
                image-block-wrapper
                has-aspect-ratio
              "
                         data-animation-role="image">
                        <noscript><img src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930798761-EANMSIB77IOY189RA4TL/ke17ZwdGBToddI8pDm48kKdlVgcgO7feTKdXO6-P3zl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UeaiMHUwjo6TzxwQU_jS5vWPP-fWv3qbIdD4Cw2H8OoIB-ErQigHo0Dv9n0XD0Ux1g/MAREN+FINAL+EDIT-37.jpg" alt="MAREN FINAL EDIT-37.jpg" /></noscript><img class="thumb-image" data-src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930798761-EANMSIB77IOY189RA4TL/ke17ZwdGBToddI8pDm48kKdlVgcgO7feTKdXO6-P3zl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UeaiMHUwjo6TzxwQU_jS5vWPP-fWv3qbIdD4Cw2H8OoIB-ErQigHo0Dv9n0XD0Ux1g/MAREN+FINAL+EDIT-37.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930798761-EANMSIB77IOY189RA4TL/ke17ZwdGBToddI8pDm48kKdlVgcgO7feTKdXO6-P3zl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UeaiMHUwjo6TzxwQU_jS5vWPP-fWv3qbIdD4Cw2H8OoIB-ErQigHo0Dv9n0XD0Ux1g/MAREN+FINAL+EDIT-37.jpg" data-image-dimensions="2000x1271" data-image-focal-point="0.5,0.5" alt="MAREN FINAL EDIT-37.jpg" data-load="false" data-image-id="5db1c2aa3473a9648e2f5f81" data-type="image" />
                    </div>
                </figure>
            </div>
        </div>
    </div>
    <div class="row sqs-row">
        <div class="col sqs-col-6 span-6">
            <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1571929909414_155764">
                <div class="sqs-block-content">
                    <div class="
          image-block-outer-wrapper
          layout-caption-below
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
        "
                         data-test="image-block-inline-outer-wrapper">
                        <figure class="
              sqs-block-image-figure
              intrinsic
            "
                                style="max-width: 1333.0px;">
                            <div style="padding-bottom: 150.0375213623047%;"
                                 class="
                image-block-wrapper
                has-aspect-ratio
              "
                                 data-animation-role="image">
                                <noscript><img src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930842196-UZ6DRW23LYKK4DEL7QKR/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-44.jpg" alt="MAREN FINAL EDIT-44.jpg" /></noscript><img class="thumb-image" data-src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930842196-UZ6DRW23LYKK4DEL7QKR/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-44.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930842196-UZ6DRW23LYKK4DEL7QKR/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-44.jpg" data-image-dimensions="1333x2000" data-image-focal-point="0.5,0.5" alt="MAREN FINAL EDIT-44.jpg" data-load="false" data-image-id="5db1c2d5bcf73f458f0a3d8d" data-type="image" />
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="col sqs-col-6 span-6">
            <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1571929909414_157409">
                <div class="sqs-block-content">
                    <div class="
          image-block-outer-wrapper
          layout-caption-below
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
        "
                         data-test="image-block-inline-outer-wrapper">
                        <figure class="
              sqs-block-image-figure
              intrinsic
            "
                                style="max-width: 1333.0px;">
                            <div style="padding-bottom: 150.0375213623047%;"
                                 class="
                image-block-wrapper
                has-aspect-ratio
              "
                                 data-animation-role="image">
                                <noscript><img src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930878143-CCCXTISPN563XGF28ZVY/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-48.jpg" alt="MAREN FINAL EDIT-48.jpg" /></noscript><img class="thumb-image" data-src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930878143-CCCXTISPN563XGF28ZVY/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-48.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930878143-CCCXTISPN563XGF28ZVY/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-48.jpg" data-image-dimensions="1333x2000" data-image-focal-point="0.5,0.5" alt="MAREN FINAL EDIT-48.jpg" data-load="false" data-image-id="5db1c2fa6ba6ed2e198129d0" data-type="image" />
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1571929909414_186084">
        <div class="sqs-block-content">
            <div class="
          image-block-outer-wrapper
          layout-caption-below
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
        "
                 data-test="image-block-inline-outer-wrapper">
                <figure class="
              sqs-block-image-figure
              intrinsic
            "
                        style="max-width: 2000.0px;">
                    <div style="padding-bottom: 66.64999389648438%;"
                         class="
                image-block-wrapper
                has-aspect-ratio
              "
                         data-animation-role="image">
                        <noscript><img src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930983933-NTFN77H3KPZW9CQMQJY9/ke17ZwdGBToddI8pDm48kKAwwdAfKsTlKsCcElEApLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegTYNQkRo-Jk4EWsyBNhwKrKLo5CceA1-Tdpfgyxoog5ck0MD3_q0rY3jFJjjoLbQ/MAREN+FINAL+EDIT-51.jpg" alt="MAREN FINAL EDIT-51.jpg" /></noscript><img class="thumb-image" data-src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930983933-NTFN77H3KPZW9CQMQJY9/ke17ZwdGBToddI8pDm48kKAwwdAfKsTlKsCcElEApLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegTYNQkRo-Jk4EWsyBNhwKrKLo5CceA1-Tdpfgyxoog5ck0MD3_q0rY3jFJjjoLbQ/MAREN+FINAL+EDIT-51.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571930983933-NTFN77H3KPZW9CQMQJY9/ke17ZwdGBToddI8pDm48kKAwwdAfKsTlKsCcElEApLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegTYNQkRo-Jk4EWsyBNhwKrKLo5CceA1-Tdpfgyxoog5ck0MD3_q0rY3jFJjjoLbQ/MAREN+FINAL+EDIT-51.jpg" data-image-dimensions="2000x1333" data-image-focal-point="0.5,0.5" alt="MAREN FINAL EDIT-51.jpg" data-load="false" data-image-id="5db1c35bbcf73f458f0a46e4" data-type="image" />
                    </div>
                </figure>
            </div>
        </div>
    </div>
    <div class="row sqs-row">
        <div class="col sqs-col-6 span-6">
            <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1571929909414_215863">
                <div class="sqs-block-content">
                    <div class="
          image-block-outer-wrapper
          layout-caption-below
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
        "
                         data-test="image-block-inline-outer-wrapper">
                        <figure class="
              sqs-block-image-figure
              intrinsic
            "
                                style="max-width: 1333.0px;">
                            <div style="padding-bottom: 150.0375213623047%;"
                                 class="
                image-block-wrapper
                has-aspect-ratio
              "
                                 data-animation-role="image">
                                <noscript><img src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571931083673-4AY81OKQK7XS29FRLISI/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-58.jpg" alt="MAREN FINAL EDIT-58.jpg" /></noscript><img class="thumb-image" data-src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571931083673-4AY81OKQK7XS29FRLISI/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-58.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571931083673-4AY81OKQK7XS29FRLISI/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-58.jpg" data-image-dimensions="1333x2000" data-image-focal-point="0.5,0.5" alt="MAREN FINAL EDIT-58.jpg" data-load="false" data-image-id="5db1c3c0d39a9b2c982c39ee" data-type="image" />
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="col sqs-col-6 span-6">
            <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1571929909414_224772">
                <div class="sqs-block-content">
                    <div class="
          image-block-outer-wrapper
          layout-caption-below
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
        "
                         data-test="image-block-inline-outer-wrapper">
                        <figure class="
              sqs-block-image-figure
              intrinsic
            "
                                style="max-width: 1333.0px;">
                            <div style="padding-bottom: 150.0375213623047%;"
                                 class="
                image-block-wrapper
                has-aspect-ratio
              "
                                 data-animation-role="image">
                                <noscript><img src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571931204985-K3S0569J830B3UBTPBDC/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-67.jpg" alt="MAREN FINAL EDIT-67.jpg" /></noscript><img class="thumb-image" data-src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571931204985-K3S0569J830B3UBTPBDC/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-67.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571931204985-K3S0569J830B3UBTPBDC/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-67.jpg" data-image-dimensions="1333x2000" data-image-focal-point="0.5,0.5" alt="MAREN FINAL EDIT-67.jpg" data-load="false" data-image-id="5db1c43e6ba6ed2e1981492a" data-type="image" />
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1571929909414_271030">
        <div class="sqs-block-content">
            <div class="
          image-block-outer-wrapper
          layout-caption-below
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
        "
                 data-test="image-block-inline-outer-wrapper">
                <figure class="
              sqs-block-image-figure
              intrinsic
            "
                        style="max-width: 2000.0px;">
                    <div style="padding-bottom: 66.64999389648438%;"
                         class="
                image-block-wrapper
                has-aspect-ratio
              "
                         data-animation-role="image">
                        <noscript><img src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571931339330-4NRPWIENKPA3GJCUAR6N/ke17ZwdGBToddI8pDm48kKAwwdAfKsTlKsCcElEApLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegTYNQkRo-Jk4EWsyBNhwKrKLo5CceA1-Tdpfgyxoog5ck0MD3_q0rY3jFJjjoLbQ/MAREN+FINAL+EDIT-72.jpg" alt="MAREN FINAL EDIT-72.jpg" /></noscript><img class="thumb-image" data-src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571931339330-4NRPWIENKPA3GJCUAR6N/ke17ZwdGBToddI8pDm48kKAwwdAfKsTlKsCcElEApLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegTYNQkRo-Jk4EWsyBNhwKrKLo5CceA1-Tdpfgyxoog5ck0MD3_q0rY3jFJjjoLbQ/MAREN+FINAL+EDIT-72.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571931339330-4NRPWIENKPA3GJCUAR6N/ke17ZwdGBToddI8pDm48kKAwwdAfKsTlKsCcElEApLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegTYNQkRo-Jk4EWsyBNhwKrKLo5CceA1-Tdpfgyxoog5ck0MD3_q0rY3jFJjjoLbQ/MAREN+FINAL+EDIT-72.jpg" data-image-dimensions="2000x1333" data-image-focal-point="0.5,0.5" alt="MAREN FINAL EDIT-72.jpg" data-load="false" data-image-id="5db1c4c367515867f5f75766" data-type="image" />
                    </div>
                </figure>
            </div>
        </div>
    </div>
    <div class="row sqs-row">
        <div class="col sqs-col-6 span-6">
            <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1571929909414_289749">
                <div class="sqs-block-content">
                    <div class="image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none "
                         data-test="image-block-inline-outer-wrapper">
                        <figure class=" sqs-block-image-figure intrinsic "
                                style="max-width: 1333.0px;">
                            <div style="padding-bottom: 150.0375213623047%;"
                                 class="image-block-wrapper has-aspect-ratio  "
                                 data-animation-role="image">
                                <noscript><img src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571931436149-9B3GZQQZG8U1MF9P4D8L/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-78.jpg" alt="MAREN FINAL EDIT-78.jpg" /></noscript><img class="thumb-image" data-src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571931436149-9B3GZQQZG8U1MF9P4D8L/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-78.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571931436149-9B3GZQQZG8U1MF9P4D8L/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-78.jpg" data-image-dimensions="1333x2000" data-image-focal-point="0.5,0.5" alt="MAREN FINAL EDIT-78.jpg" data-load="false" data-image-id="5db1c526bcf73f458f0a7059" data-type="image" />
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="col sqs-col-6 span-6">
            <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1571929909414_291660">
                <div class="sqs-block-content">
                    <div class=" image-block-outer-wrapper layout-caption-below design-layout-inline  combination-animation-none individual-animation-none individual-text-animation-none "
                         data-test="image-block-inline-outer-wrapper">
                        <figure class=" sqs-block-image-figure intrinsic "
                                style="max-width: 1333.0px;">
                            <div style="padding-bottom: 150.0375213623047%;"
                                 class=" image-block-wrapper has-aspect-ratio "
                                 data-animation-role="image">
                                <noscript><img src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571931462702-UOTG6BVNM0981YPM4FSR/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-87.jpg" alt="MAREN FINAL EDIT-87.jpg" /></noscript><img class="thumb-image" data-src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571931462702-UOTG6BVNM0981YPM4FSR/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-87.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571931462702-UOTG6BVNM0981YPM4FSR/ke17ZwdGBToddI8pDm48kMW07nDPUi4QpkaiOZOMjjN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmru5j-AQBePNiDV9hZLaF5Nv1eI2eQHYQ5hCOGwfHNc2oGbzw7ZizcAH76AsE0075/MAREN+FINAL+EDIT-87.jpg" data-image-dimensions="1333x2000" data-image-focal-point="0.5,0.5" alt="MAREN FINAL EDIT-87.jpg" data-load="false" data-image-id="5db1c53fbcf73f458f0a71a6" data-type="image" />
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1571929909414_294692">
        <div class="sqs-block-content">
            <div class="  image-block-outer-wrapper layout-caption-below design-layout-inline   combination-animation-none  individual-animation-none individual-text-animation-none" data-test="image-block-inline-outer-wrapper">
                <figure class=" sqs-block-image-figure intrinsic "
                        style="max-width: 2000.0px;">
                    <div style="padding-bottom: 66.64999389648438%;" class="  image-block-wrapper  has-aspect-ratio " data-animation-role="image">
                        <noscript><img src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571931490422-DKL073S8IHC09PAJJFE7/ke17ZwdGBToddI8pDm48kKAwwdAfKsTlKsCcElEApLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegTYNQkRo-Jk4EWsyBNhwKrKLo5CceA1-Tdpfgyxoog5ck0MD3_q0rY3jFJjjoLbQ/MAREN+FINAL+EDIT-90.jpg" alt="MAREN FINAL EDIT-90.jpg" /></noscript><img class="thumb-image" data-src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571931490422-DKL073S8IHC09PAJJFE7/ke17ZwdGBToddI8pDm48kKAwwdAfKsTlKsCcElEApLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegTYNQkRo-Jk4EWsyBNhwKrKLo5CceA1-Tdpfgyxoog5ck0MD3_q0rY3jFJjjoLbQ/MAREN+FINAL+EDIT-90.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1571931490422-DKL073S8IHC09PAJJFE7/ke17ZwdGBToddI8pDm48kKAwwdAfKsTlKsCcElEApLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegTYNQkRo-Jk4EWsyBNhwKrKLo5CceA1-Tdpfgyxoog5ck0MD3_q0rY3jFJjjoLbQ/MAREN+FINAL+EDIT-90.jpg" data-image-dimensions="2000x1333" data-image-focal-point="0.5,0.5" alt="MAREN FINAL EDIT-90.jpg" data-load="false" data-image-id="5db1c55abcf73f458f0a737c" data-type="image" />
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>