@{
    ViewBag.Title = "IcMimari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .gallery {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-width: 33%;
        -moz-column-width: 33%;
        column-width: 33%;
    }

        .gallery .pics {
            -webkit-transition: all 350ms ease;
            transition: all 350ms ease;
        }

        .gallery .animation {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }

    figure.sqs-col-4.span-4 img {
        padding: 10px;
    }

</style>
<div class="col sqs-col-12 span-12">
    <!-- The Modal -->
    @*<img id="myImg" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/3a.jpg")" alt="Snow" style="width:100%;max-width:300px">*@
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
    <!-- Main İmage-->
    <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1561135439698_8617">
        <div class="sqs-block-content">
            <div class=" image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none"
                 data-test="image-block-inline-outer-wrapper">
                <figure class=" sqs-block-image-figure  intrinsic "
                        style="max-width: 2000.0px;">
                    <div style="padding-bottom: 56.25%;"
                         class="  image-block-wrapper has-aspect-ratio "
                         data-animation-role="image">
                        <noscript><img src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/3a.jpg")" alt="" /></noscript>
                        <img class="thumb-image" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/3a.jpg")" style=" left: 0%; top: -0.0151699%; width: 100%; height: 100.03%; position: absolute" data-image-dimensions="2000x1125" data-image-focal-point="0.5,0.5" alt="MAREN+FINAL+EDIT-7.jpg" data-load="false" data-image-id="5dc992d016757a6ba7a0109a" data-type="image" />
                    </div>
                </figure>
            </div>
        </div>
    </div>
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1571988858733_19223">
        <div class="sqs-block-content">&nbsp;</div>
    </div>
    <!-- Main Txt-->
    <div class="row sqs-row">
        <div class="col sqs-col-4 span-4">
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1571932480061_177971">
                <div class="sqs-block-content">
                    <h2 style="white-space: pre-wrap;">PROJE: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>A.U. EVİ </strong></h2>
                    <h2 style="white-space: pre-wrap;">LOKASYON: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>Kemerburgaz / İstanbul /TÜRKİYE</strong></h2>
                </div>
            </div>
        </div>
        <div class="col sqs-col-7 span-7">
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1571932480061_125616">
                <div class="sqs-block-content">
                    <p class="" style="white-space: pre-wrap;">A.U. EVİ, Kemerburgaz’ da tasarlanmış 1+1 konut projesidir.</p>
                    <p class="" style="white-space: pre-wrap;">Sıcak ve aydınlık bir mekân yaratmaya odaklanarak tasarlanmıştır. Kemerburgaz’ın tarihi dokusu ile uyumlu bir iç mekân yaratılmak istenmiş, malzeme seçimleri buna göre yapılmıştır.</p>
                </div>
            </div>
        </div>
        <div class="col sqs-col-1 span-1">
            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1573484759496_19620">
                <div class="sqs-block-content">&nbsp;</div>
            </div>
        </div>
    </div>

    <!-- Image Gallery -->
    <div class="row sqs-row">

        <div class="col-md-12 mt-5">
            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" id="myImg" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/1.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>
                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/olan1.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/olan2.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/olan4.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">

                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/olan5.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">

                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/6.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>
            </div>

        </div>
    </div>

    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1571932480061_180440">

        <div class="sqs-block-content">&nbsp;</div>
    </div>

    <!-- Main İmage-->
    <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1561135439698_8617">
        <div class="sqs-block-content">
            <div class=" image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none"
                 data-test="image-block-inline-outer-wrapper">
                <figure class=" sqs-block-image-figure  intrinsic "
                        style="max-width: 2000.0px;">
                    <div style="padding-bottom: 56.25%;"
                         class="  image-block-wrapper has-aspect-ratio "
                         data-animation-role="image">
                        <noscript><img src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/3a.jpg")" alt="" /></noscript>
                        <img class="thumb-image" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/3a.jpg")" style=" left: 0%; top: -0.0151699%; width: 100%; height: 100.03%; position: absolute" data-image-dimensions="2000x1125" data-image-focal-point="0.5,0.5" alt="MAREN+FINAL+EDIT-7.jpg" data-load="false" data-image-id="5dc992d016757a6ba7a0109a" data-type="image" />
                    </div>
                </figure>
            </div>
        </div>
    </div>
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1571988858733_19223">
        <div class="sqs-block-content">&nbsp;</div>
    </div>
    <!-- Main Txt-->
    <div class="row sqs-row">
        <div class="col sqs-col-4 span-4">
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1571932480061_177971">
                <div class="sqs-block-content">
                    <h2 style="white-space: pre-wrap;">PROJE: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>A.U. EVİ </strong></h2>
                    <h2 style="white-space: pre-wrap;">LOKASYON: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>Kemerburgaz / İstanbul /TÜRKİYE</strong></h2>
                </div>
            </div>
        </div>
        <div class="col sqs-col-7 span-7">
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1571932480061_125616">
                <div class="sqs-block-content">
                    <p class="" style="white-space: pre-wrap;">A.U. EVİ, Kemerburgaz’ da tasarlanmış 1+1 konut projesidir.</p>
                    <p class="" style="white-space: pre-wrap;">Sıcak ve aydınlık bir mekân yaratmaya odaklanarak tasarlanmıştır. Kemerburgaz’ın tarihi dokusu ile uyumlu bir iç mekân yaratılmak istenmiş, malzeme seçimleri buna göre yapılmıştır.</p>
                </div>
            </div>
        </div>
        <div class="col sqs-col-1 span-1">
            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1573484759496_19620">
                <div class="sqs-block-content">&nbsp;</div>
            </div>
        </div>
    </div>

    <!-- Image Gallery -->
    <div class="row sqs-row">

        <div class="col-md-12 mt-5">
            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" id="myImg" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/1.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>
                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/olan1.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/olan2.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/olan4.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">

                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/olan5.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">

                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/6.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>
            </div>

        </div>
    </div>
</div>