@{
    ViewBag.Title = "IcMimari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .gallery {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-width: 33%;
        -moz-column-width: 33%;
        column-width: 33%;
    }

        .gallery .pics {
            -webkit-transition: all 350ms ease;
            transition: all 350ms ease;
        }

        .gallery .animation {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }

    figure.sqs-col-4.span-4 img {
        padding: 10px;
    }
</style>
<div class="col sqs-col-12 span-12">
    <!--  The Modal -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
    <!-- A.U. Main İmage-->
    <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1561135439698_8617">
        <div class="sqs-block-content">
            <div class=" image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none"
                 data-test="image-block-inline-outer-wrapper">
                <figure class=" sqs-block-image-figure  intrinsic "
                        style="max-width: 2000.0px;">
                    <div style="padding-bottom: 56.25%;"
                         class="  image-block-wrapper has-aspect-ratio "
                         data-animation-role="image">
                        <noscript><img src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/3a.jpg")" alt="" /></noscript>
                        <img class="thumb-image" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/3a.jpg")" style=" left: 0%; top: -0.0151699%; width: 100%; height: 100.03%; position: absolute" data-image-dimensions="2000x1125" data-image-focal-point="0.5,0.5" alt="MAREN+FINAL+EDIT-7.jpg" data-load="false" data-image-id="5dc992d016757a6ba7a0109a" data-type="image" />
                    </div>
                </figure>
            </div>
        </div>
    </div>
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1571988858733_19223">
        <div class="sqs-block-content">&nbsp;</div>
    </div>
    <!-- A.U. Main Txt-->
    <div class="row sqs-row">
        <div class="col sqs-col-4 span-4">
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1571932480061_177971">
                <div class="sqs-block-content">
                    <h2 style="white-space: pre-wrap;">PROJE: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>A.U. EVİ </strong></h2>
                    <h2 style="white-space: pre-wrap;">LOKASYON: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>Kemerburgaz / İstanbul /TÜRKİYE</strong></h2>
                    <h2 style="white-space: pre-wrap;">YIL: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>2020</strong></h2>
                </div>
            </div>
        </div>
        <div class="col sqs-col-7 span-7">
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1571932480061_125616">
                <div class="sqs-block-content">
                    <p class="" style="white-space: pre-wrap;">A.U. EVİ, Kemerburgaz’ da tasarlanmış 1+1 konut projesidir.</p>
                    <p class="" style="white-space: pre-wrap;">Sıcak ve aydınlık bir mekân yaratmaya odaklanarak tasarlanmıştır. Kemerburgaz’ın tarihi dokusu ile uyumlu bir iç mekân yaratılmak istenmiş, malzeme seçimleri buna göre yapılmıştır.</p>
                </div>
            </div>
        </div>
        <div class="col sqs-col-1 span-1">
            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1573484759496_19620">
                <div class="sqs-block-content">&nbsp;</div>
            </div>
        </div>
    </div>

    <!-- A.U. Image Gallery -->
    <div class="row sqs-row">

        <div class="col-md-12 mt-5">
            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/1.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>
                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/olan1.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/olan2.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/olan4.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">

                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/olan5.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">

                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/A.U. evi/6.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>
            </div>

        </div>
    </div>

    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1571932480061_180440">

        <div class="sqs-block-content">&nbsp;</div>
    </div>

    <!-- Chefs Döner Main İmage-->
    <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1561135439698_8617">
        <div class="sqs-block-content">
            <div class=" image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none"
                 data-test="image-block-inline-outer-wrapper">
                <figure class=" sqs-block-image-figure  intrinsic "
                        style="max-width: 2000.0px;">
                    <div style="padding-bottom: 56.25%;"
                         class="  image-block-wrapper has-aspect-ratio "
                         data-animation-role="image">
                        <noscript><img src="@Url.Content("~/Content/Images/IcMimari/Chefs Döner/1.png")" alt="" /></noscript>
                        <img class="thumb-image" src="@Url.Content("~/Content/Images/IcMimari/Chefs Döner/1.png")" style=" left: 0%; top: -0.0151699%; width: 100%; height: 100.03%; position: absolute" data-image-dimensions="2000x1125" data-image-focal-point="0.5,0.5" alt="MAREN+FINAL+EDIT-7.jpg" data-load="false" data-image-id="5dc992d016757a6ba7a0109a" data-type="image" />
                    </div>
                </figure>
            </div>
        </div>
    </div>
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1571988858733_19223">
        <div class="sqs-block-content">&nbsp;</div>
    </div>
    <!-- Chefs Döner Main Txt-->
    <div class="row sqs-row">
        <div class="col sqs-col-4 span-4">
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1571932480061_177971">
                <div class="sqs-block-content">
                    <h2 style="white-space: pre-wrap;">PROJE: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>CHEFS DÖNER </strong></h2>
                    <h2 style="white-space: pre-wrap;">LOKASYON: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>Kadıköy / İstanbul /TÜRKİYE</strong></h2>
                    <h2 style="white-space: pre-wrap;">YIL: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>2020</strong></h2>
                </div>
            </div>
        </div>
        <div class="col sqs-col-7 span-7">
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1571932480061_125616">
                <div class="sqs-block-content">
                    <p class="" style="white-space: pre-wrap;">CHEF’S DÖNER, Kadıköy’de tasarlanmış döner restoran projesidir. </p>
                    <p class="" style="white-space: pre-wrap;"> Geleneksel bir yemek olan döner satışına modern bir tarz getirmek amaçlanmıştır.</p>
                    <p class="" style="white-space: pre-wrap;">  Bunun için öncelikle mekân daha modern bir bakış açısıyla tasarlanmış ve yeni oluşan bu markaya kurumsal bir kimlik oluşturmanın parçası olarak görülmüştür.</p>
                </div>
            </div>
        </div>
        <div class="col sqs-col-1 span-1">
            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1573484759496_19620">
                <div class="sqs-block-content">&nbsp;</div>
            </div>
        </div>
    </div>

    <!--Chefs Döner Image Gallery -->
    <div class="row sqs-row">

        <div class="col-md-12 mt-5">
            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/Chefs Döner/2.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>
                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/Chefs Döner/3.png")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/Chefs Döner/4.png")" style="margin-top: 50%;" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>
            </div>

        </div>
    </div>
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1571932480061_180440">

        <div class="sqs-block-content">&nbsp;</div>
    </div>
    <!-- E.T. Evi Main İmage-->
    <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1561135439698_8617">
        <div class="sqs-block-content">
            <div class=" image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none"
                 data-test="image-block-inline-outer-wrapper">
                <figure class=" sqs-block-image-figure  intrinsic "
                        style="max-width: 2000.0px;">
                    <div style="padding-bottom: 56.25%;"
                         class="  image-block-wrapper has-aspect-ratio "
                         data-animation-role="image">
                        <noscript><img src="@Url.Content("~/Content/Images/IcMimari/E.T. Evi/4.jpg")" alt="" /></noscript>
                        <img class="thumb-image" src="@Url.Content("~/Content/Images/IcMimari/E.T. Evi/4.jpg")" style=" left: 0%; top: -0.0151699%; width: 100%; height: 100.03%; position: absolute" data-image-dimensions="2000x1125" data-image-focal-point="0.5,0.5" alt="MAREN+FINAL+EDIT-7.jpg" data-load="false" data-image-id="5dc992d016757a6ba7a0109a" data-type="image" />
                    </div>
                </figure>
            </div>
        </div>
    </div>
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1571988858733_19223">
        <div class="sqs-block-content">&nbsp;</div>
    </div>
    <!-- E.T. Evi Main Txt-->
    <div class="row sqs-row">
        <div class="col sqs-col-4 span-4">
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1571932480061_177971">
                <div class="sqs-block-content">
                    <h2 style="white-space: pre-wrap;">PROJE: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>E.T. EVİ </strong></h2>
                    <h2 style="white-space: pre-wrap;">LOKASYON: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>Kadıköy / İstanbul /TÜRKİYE</strong></h2>
                    <h2 style="white-space: pre-wrap;">YIL: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>2020</strong></h2>
                </div>
            </div>
        </div>
        <div class="col sqs-col-7 span-7">
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1571932480061_125616">
                <div class="sqs-block-content">
                    <p class="" style="white-space: pre-wrap;">E.T. EVİ, Kadıköy’de bulunan 2+1 konutun yenilenme projesidir. Eski kullanıcılarının yaşam pratiklerine göre organize edilmiş bu mekânın, yeni sahiplerine uygun olacak şekilde yenilenmesi amaçlanmıştır.  </p>
                    <p class="" style="white-space: pre-wrap;"> Bu çerçevede, yeni malzemeler ile özellikle ıslak hacimler tasarlanmıştır.</p>
                </div>
            </div>
        </div>
        <div class="col sqs-col-1 span-1">
            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1573484759496_19620">
                <div class="sqs-block-content">&nbsp;</div>
            </div>
        </div>
    </div>

    <!--E.T. Evi Image Gallery -->
    <div class="row sqs-row">

        <div class="col-md-12 mt-5">
            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/E.T. Evi/5.jpg")" style="margin-top:40%" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/E.T. Evi/6.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/E.T. Evi/2.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/E.T. Evi/3.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/E.T. Evi/1.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>
            </div>

        </div>
    </div>

    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1571932480061_180440">

        <div class="sqs-block-content">&nbsp;</div>
    </div>
    <!-- Epo Main İmage-->
    <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1561135439698_8617">
        <div class="sqs-block-content">
            <div class=" image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none"
                 data-test="image-block-inline-outer-wrapper">
                <figure class=" sqs-block-image-figure  intrinsic "
                        style="max-width: 2000.0px;">
                    <div style="padding-bottom: 56.25%;"
                         class="  image-block-wrapper has-aspect-ratio "
                         data-animation-role="image">
                        <noscript><img src="@Url.Content("~/Content/Images/IcMimari/Epo Kimya/1.jpg")" alt="" /></noscript>
                        <img class="thumb-image" src="@Url.Content("~/Content/Images/IcMimari/Epo Kimya/1.jpg")" style=" left: 0%; top: -0.0151699%; width: 100%; height: 100.03%; position: absolute" data-image-dimensions="2000x1125" data-image-focal-point="0.5,0.5" alt="MAREN+FINAL+EDIT-7.jpg" data-load="false" data-image-id="5dc992d016757a6ba7a0109a" data-type="image" />
                    </div>
                </figure>
            </div>
        </div>
    </div>
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1571988858733_19223">
        <div class="sqs-block-content">&nbsp;</div>
    </div>
    <!-- Epo Main Txt-->
    <div class="row sqs-row">
        <div class="col sqs-col-4 span-4">
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1571932480061_177971">
                <div class="sqs-block-content">
                    <h2 style="white-space: pre-wrap;">PROJE: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>EPO KİMYA OFİS TASARIMI </strong></h2>
                    <h2 style="white-space: pre-wrap;">LOKASYON: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>Bostancı / İstanbul /TÜRKİYE</strong></h2>
                    <h2 style="white-space: pre-wrap;">YIL: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>2014</strong></h2>
                </div>
            </div>
        </div>
        <div class="col sqs-col-7 span-7">
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1571932480061_125616">
                <div class="sqs-block-content">
                    <p class="" style="white-space: pre-wrap;">E.T. EVİ, Kadıköy’de bulunan 2+1 konutun yenilenme projesidir. Eski kullanıcılarının yaşam pratiklerine göre organize edilmiş bu mekânın, yeni sahiplerine uygun olacak şekilde yenilenmesi amaçlanmıştır.  </p>
                    <p class="" style="white-space: pre-wrap;"> Bu çerçevede, yeni malzemeler ile özellikle ıslak hacimler tasarlanmıştır.</p>
                </div>
            </div>
        </div>
        <div class="col sqs-col-1 span-1">
            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1573484759496_19620">
                <div class="sqs-block-content">&nbsp;</div>
            </div>
        </div>
    </div>

    <!--Epo Image Gallery -->
    <div class="row sqs-row">

        <div class="col-md-12 mt-5">
            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/Epo Kimya/2.jpg")" style="margin-top:40%" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/Epo Kimya/3.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/Epo Kimya/5.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/Epo Kimya/4.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>
            </div>

        </div>
    </div>
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1571932480061_180440">

        <div class="sqs-block-content">&nbsp;</div>
    </div>
    <!-- Erenköy Main İmage-->
    <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1561135439698_8617">
        <div class="sqs-block-content">
            <div class=" image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none"
                 data-test="image-block-inline-outer-wrapper">
                <figure class=" sqs-block-image-figure  intrinsic "
                        style="max-width: 2000.0px;">
                    <div style="padding-bottom: 56.25%;"
                         class="  image-block-wrapper has-aspect-ratio "
                         data-animation-role="image">
                        <noscript><img src="@Url.Content("~/Content/Images/IcMimari/Erenköy Apartman/1.jpg")" alt="" /></noscript>
                        <img class="thumb-image" src="@Url.Content("~/Content/Images/IcMimari/Erenköy Apartman/1.jpg")" style=" left: 0%; top: -0.0151699%; width: 100%; height: 100.03%; position: absolute" data-image-dimensions="2000x1125" data-image-focal-point="0.5,0.5" alt="MAREN+FINAL+EDIT-7.jpg" data-load="false" data-image-id="5dc992d016757a6ba7a0109a" data-type="image" />
                    </div>
                </figure>
            </div>
        </div>
    </div>
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1571988858733_19223">
        <div class="sqs-block-content">&nbsp;</div>
    </div>
    <!-- Erenköy Main Txt-->
    <div class="row sqs-row">
        <div class="col sqs-col-4 span-4">
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1571932480061_177971">
                <div class="sqs-block-content">
                    <h2 style="white-space: pre-wrap;">PROJE: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>ERENKÖY DAİRE TASARIMI</strong></h2>
                    <h2 style="white-space: pre-wrap;">LOKASYON: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>Erenköy / İstanbul /TÜRKİYE</strong></h2>
                    <h2 style="white-space: pre-wrap;">YIL: </h2>
                    <h2 style="white-space: pre-wrap;"><strong>2018</strong></h2>
                </div>
            </div>
        </div>
        <div class="col sqs-col-7 span-7">
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1571932480061_125616">
                <div class="sqs-block-content">
                    <p class="" style="white-space: pre-wrap;">Erenköy’de kentsel dönüşüm ile yenilenmiş bir apartmanda bulunan 3+1 dairenin tasarımıdır.   </p>
                    <p class="" style="white-space: pre-wrap;"> Daireyi yeni satın almış olan mal sahibi ‘MAHAL’e ulaşmıştır. Mekân, gerekli görüşmeler sonucu belirlenen, mal sahibinin zevkine uygun klasik bir tarzda tasarlanmış, dairenin mevcut ölçülerine göre yerleşimi yapılmıştır.</p>
                </div>
            </div>
        </div>
        <div class="col sqs-col-1 span-1">
            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1573484759496_19620">
                <div class="sqs-block-content">&nbsp;</div>
            </div>
        </div>
    </div>

    <!--Erenköy Image Gallery -->
    <div class="row sqs-row">

        <div class="col-md-12 mt-5">
            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/Erenköy Apartman/klasik banyo.jpg")" style="margin-top:40%" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/Erenköy Apartman/klasik mutfak2a (1).jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>

                <figure class="sqs-col-4 span-4">
                    <img alt="picture" src="@Url.Content("~/Content/Images/IcMimari/Erenköy Apartman/klasik banyo2.jpg")" onclick="loadZoomImageModel(this);" class="img-fluid">
                </figure>
            </div>

        </div>
    </div>

</div>