

@{
    ViewBag.Title = "References";
}
<div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1604513247476_88">
    <div class="row sqs-row" id="yui_3_17_2_1_1604513247476_87">
        <div class="col-md-12">
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-a2a6ec381c7db3b5f72a">
                <div class="sqs-block-content" style="display: flex; flex-wrap: wrap;">
                    <div class="col-md-12">
                        <div class="first-ref-class col-md-4 offset-4">
                            <img src="@Url.Content("~/Content/Images/Referanslar/kosgeb.jpg")" style="position: relative;margin: 10px;" alt="@Url.Content("~/Content/Images/Referanslar/kosgeb.jpg")" />
                            <img class="thumb-image loaded" data-src="@Url.Content("~/Content/Images/Referanslar/kosgeb.jpg")" data-image="@Url.Content("~/Content/Images/Referanslar/kosgeb.jpg")" data-image-dimensions="1327x2000" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5dea825953ac1c48c1355245" data-type="image" alt="@Url.Content("~/Content/Images/Referanslar/kosgeb.jpg")">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <img src="@Url.Content("~/Content/Images/Referanslar/penguen.jpeg")" style="position: relative; margin: 10px;" alt="@Url.Content("~/Content/Images/Referanslar/penguen.jpeg")" />
                        <img class="thumb-image loaded" data-src="@Url.Content("~/Content/Images/Referanslar/penguen.jpeg")" data-image="@Url.Content("~/Content/Images/Referanslar/penguen.jpeg")" data-image-dimensions="1327x2000" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5dea825953ac1c48c1355245" data-type="image" alt="@Url.Content("~/Content/Images/Referanslar/penguen.jpeg")">
                    </div>
                    <div class="col-md-4">
                        <img src="@Url.Content("~/Content/Images/Referanslar/natural.jpeg")" style="position: relative;margin: 10px;" alt="@Url.Content("~/Content/Images/Referanslar/natural.jpeg")" />
                        <img class="thumb-image loaded" data-src="@Url.Content("~/Content/Images/Referanslar/natural.jpeg")" data-image="@Url.Content("~/Content/Images/Referanslar/natural.jpeg")" data-image-dimensions="1327x2000" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5dea825953ac1c48c1355245" data-type="image" alt="@Url.Content("~/Content/Images/Referanslar/natural.jpeg")">

                    </div>
                    <div class="col-md-4">
                        <img src="@Url.Content("~/Content/Images/Referanslar/ithaki.jpeg")" style="position: relative;margin: 10px;" alt="@Url.Content("~/Content/Images/Referanslar/ithaki.jpeg")" />
                        <img class="thumb-image loaded" data-src="@Url.Content("~/Content/Images/Referanslar/ithaki.jpeg")" data-image="@Url.Content("~/Content/Images/Referanslar/ithaki.jpeg")" data-image-dimensions="1327x2000" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5dea825953ac1c48c1355245" data-type="image" alt="@Url.Content("~/Content/Images/Referanslar/ithaki.jpeg")">
                    </div>

                    <div class="col-md-3">
                        <img src="@Url.Content("~/Content/Images/Referanslar/sms.jpeg")" style="position: relative;margin: 10px;" alt="@Url.Content("~/Content/Images/Referanslar/sms.jpeg")" />
                        <img class="thumb-image loaded" data-src="@Url.Content("~/Content/Images/Referanslar/sms.jpeg")" data-image="@Url.Content("~/Content/Images/Referanslar/sms.jpeg")" data-image-dimensions="1327x2000" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5dea825953ac1c48c1355245" data-type="image" alt="@Url.Content("~/Content/Images/Referanslar/sms.jpeg")">
                    </div>
                    <div class="col-md-3">
                        <img src="@Url.Content("~/Content/Images/Referanslar/tavukcu.jpeg")" style="position: relative;margin: 10px;" alt="@Url.Content("~/Content/Images/Referanslar/tavukcu.jpeg")" />
                        <img class="thumb-image loaded" data-src="@Url.Content("~/Content/Images/Referanslar/tavukcu.jpeg")" data-image-dimensions="1327x2000" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5dea825953ac1c48c1355245" data-type="image" alt="@Url.Content("~/Content/Images/Referanslar/tavukcu.jpeg")">
                    </div>
                    <div class="col-md-3">
                        <img src="@Url.Content("~/Content/Images/Referanslar/uzunal.jpeg")" style="position: relative;margin: 10px;" alt="@Url.Content("~/Content/Images/Referanslar/uzunal.jpeg")" />
                        <img class="thumb-image loaded" data-src="@Url.Content("~/Content/Images/Referanslar/uzunal.jpeg")" data-image="@Url.Content("~/Content/Images/Referanslar/uzunal.jpeg")" data-image-dimensions="1327x2000" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5dea825953ac1c48c1355245" data-type="image" alt="@Url.Content("~/Content/Images/Referanslar/uzunal.jpeg")">
                    </div>
                    <div class="col-md-3">
                        <img src="@Url.Content("~/Content/Images/Referanslar/yapitema.jpeg")" style="position: relative;margin: 10px;" alt="@Url.Content("~/Content/Images/Referanslar/yapitema.jpeg")" />
                        <img class="thumb-image loaded" data-src="@Url.Content("~/Content/Images/Referanslar/yapitema.jpeg")" data-image="@Url.Content("~/Content/Images/Referanslar/yapitema.jpeg")" data-image-dimensions="1327x2000" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5dea825953ac1c48c1355245" data-type="image" alt="@Url.Content("~/Content/Images/Referanslar/yapitema.jpeg")">
                    </div>
                    <div class="col-md-3">
                        <img src="@Url.Content("~/Content/Images/Referanslar/topkapi.jpeg")" style="position: relative;" alt="@Url.Content("~/Content/Images/Referanslar/topkapi.jpeg")" />
                        <img class="thumb-image loaded" data-src="@Url.Content("~/Content/Images/Referanslar/topkapi.jpeg")" data-image="@Url.Content("~/Content/Images/Referanslar/topkapi.jpeg")" data-image-dimensions="1327x2000" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5dea825953ac1c48c1355245" data-type="image" alt="@Url.Content("~/Content/Images/Referanslar/topkapi.jpeg")">
                    </div>
                    <div class="col-md-3">
                        <img src="@Url.Content("~/Content/Images/Referanslar/turizm.jpeg")" style="position: relative;margin: 10px;" alt="@Url.Content("~/Content/Images/Referanslar/turizm.jpeg")" />
                        <img class="thumb-image loaded" data-src="@Url.Content("~/Content/Images/Referanslar/turizm.jpeg")" data-image="@Url.Content("~/Content/Images/Referanslar/turizm.jpeg")" data-image-dimensions="1327x2000" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5dea825953ac1c48c1355245" data-type="image" alt="@Url.Content("~/Content/Images/Referanslar/turizm.jpeg")">
                    </div>
                    <div class="col-md-3">
                        <img src="@Url.Content("~/Content/Images/Referanslar/nuhoglu.jpeg")" style="position: relative;margin: 10px;" alt="@Url.Content("~/Content/Images/Referanslar/nuhoglu.jpeg")" />
                        <img class="thumb-image loaded" data-src="@Url.Content("~/Content/Images/Referanslar/nuhoglu.jpeg")" data-image="@Url.Content("~/Content/Images/Referanslar/nuhoglu.jpeg")" data-image-dimensions="1327x2000" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5dea825953ac1c48c1355245" data-type="image" alt="@Url.Content("~/Content/Images/Referanslar/nuhoglu.jpeg")">
                    </div>
                    <div class="col-md-3">
                        <img src="@Url.Content("~/Content/Images/Referanslar/epo.jpeg")" style="position: relative;margin: 10px;" alt="@Url.Content("~/Content/Images/Referanslar/epo.jpeg")" />
                        <img class="thumb-image loaded" data-src="@Url.Content("~/Content/Images/Referanslar/epo.jpeg")" data-image="@Url.Content("~/Content/Images/Referanslar/epo.jpeg")" data-image-dimensions="1327x2000" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5dea825953ac1c48c1355245" data-type="image" alt="@Url.Content("~/Content/Images/Referanslar/epo.jpeg")">
                    </div>
                    <div class="col-md-4">
                        <img src="@Url.Content("~/Content/Images/Referanslar/cicekler.jpeg")" style="position: relative;margin: 10px;" alt="@Url.Content("~/Content/Images/Referanslar/cicekler.jpeg")" />
                        <img class="thumb-image loaded" data-src="@Url.Content("~/Content/Images/Referanslar/cicekler.jpeg")" data-image="@Url.Content("~/Content/Images/Referanslar/cicekler.jpeg")" data-image-dimensions="1327x2000" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5dea825953ac1c48c1355245" data-type="image" alt="@Url.Content("~/Content/Images/Referanslar/cicekler.jpeg")">
                    </div>

                    <div class="col-md-4">
                        <img src="@Url.Content("~/Content/Images/Referanslar/kartek.jpeg")" style="position: relative;margin: 10px;" alt="@Url.Content("~/Content/Images/Referanslar/kartek.jpeg")" />
                        <img class="thumb-image loaded" data-src="@Url.Content("~/Content/Images/Referanslar/kartek.jpeg")" data-image="@Url.Content("~/Content/Images/Referanslar/kartek.jpeg")" data-image-dimensions="1327x2000" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5dea825953ac1c48c1355245" data-type="image" alt="@Url.Content("~/Content/Images/Referanslar/kartek.jpeg")">
                    </div>
                    <div class="col-md-4">
                        <img src="@Url.Content("~/Content/Images/Referanslar/kadikoyatolye.jpeg")" style="position: relative;margin: 10px;" alt="@Url.Content("~/Content/Images/Referanslar/kadikoyatolye.jpeg")" />
                        <img class="thumb-image loaded" data-src="@Url.Content("~/Content/Images/Referanslar/kadikoyatolye.jpeg")" data-image="@Url.Content("~/Content/Images/Referanslar/kadikoyatolye.jpeg")" data-image-dimensions="1327x2000" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5dea825953ac1c48c1355245" data-type="image" alt="@Url.Content("~/Content/Images/Referanslar/kadikoyatolye.jpeg")">
                    </div>
                </div>
            </div>
        </div>
        <div class="col sqs-col-1 span-1">

            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
                <div class="sqs-block-content">&nbsp;</div>
            </div>
        </div>
    </div>
</div>

